<div class="row">
    <div class="col s9 offset-s2">
        <div class="col s12 ">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <div class="container">
                            <div id="edit-page" class="row">
                                <div
                                    class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 register-card bg-opacity-8">
                                    <form class="login-form" action="/associates/edit/{{associated.PKASS_NCODIGO}}" method="POST">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <h5 class="ml-4">Editar asociado</h5>
                                            </div>
                                        </div>
                                        <div class="row margin">
                                            <div class="input-field col s12">
                                                <input id="username" type="text" name="name" value="{{associated.ASS_CNAME}}">
                                                <label for="username" class="center-align">Nombre</label>
                                            </div>
                                        </div>
                                        <div class="row margin">
                                            <div class="input-field col s12">
                                                <input id="username" type="text" name="lastName"
                                                    value="{{associated.ASS_CLAST_NAME}}">
                                                <label for="username" class="center-align">Apellido</label>
                                            </div>
                                        </div>
                                        <div class="row margin">
                                            <div class="input-field col s12">
                                                <select name="state">
                                                    <option selected>{{associated.ASS_CESTADO}}</option>
                                                    <option value="ACTIVO">ACTIVO</option>
                                                    <option value="DESACTIVAR">INACTIVO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row center">
                                            <div class="input-field col s9 offset-s4">
                                                <button type="submit"
                                                    class="btn waves-effect waves-light gradient-45deg-purple-amber gradient-shadow white-text darken-1 col s6">Editar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="content-overlay"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
  .form-container {
    margin-top: 100vh;
  }
</style>