<main class="index">
    <!-- BEGIN: Header-->
    <body
        class="horizontal-layout page-header-light horizontal-menu preload-transitions 1-column forgot-bg   blank-page blank-page"
        data-open="click" data-menu="horizontal-menu" data-col="1-column">
        <div class="row">
            <div class="col s12">
                <div class="landing-content">
                    <h1 class="landing-title">Conéctate</h1>
                    <a href="index.html"
                        class="btn waves-effect waves-light border-round gradient-45deg-indigo-purple shadow landing-button">¡Empieza
                        aquí!</a>
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </body>

    </html>
</main>