<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 1-column register-bg   blank-page blank-page" data-open="click" data-menu="vertical-dark-menu" data-col="1-column">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div id="register-page" class="row">
                    <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 register-card bg-opacity-8">
                        <form class="login-form" action="/signin" method="POST">
                            <div class="row">
                                <div class="input-field col s12">
                                    <h5 class="ml-4">Ingresa</h5>
                                </div>
                            </div>
                            <div class="row margin">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix pt-2">person_outline</i>
                                    <input id="username" type="text" name="username">
                                    <label for="username" class="center-align">Usuario</label>
                                </div>
                            </div>
                            <div class="row margin">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix pt-2">lock_outline</i>
                                    <input id="password-again" type="password" name="password">
                                    <label for="password-again">Contraseña</label>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="input-field col s9 offset-s4">
                                    <button type="submit" class="btn waves-effect waves-light border-round gradient-45deg-indigo-purple shadow col s6">Ingresar</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 offset-s5">
                                    <p class="margin medium-small"><a href="/signup">Registrate ahora</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="content-overlay"></div>
        </div>
    </div>
</body>

<style>
  .register-page{
        height: 0vh;   
  }
</style>